.errorMessage{
    background-color: red;
    opacity: 0.5;
    margin: 5px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.normalMessage {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}