
.errorMessage {
    height: 60px;
    margin-top: 20px;
    color: red;
    font-size: 34px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

.setMessage {
    color: black;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

.redMessage {
    color: red;
    font-size: 45px;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

.normalMessage {
    height: 60px;
    margin-top: 20px;
    color: black;
    font-size: 45px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}