body {
    background-size: 100%;
    background-color: rgb(203, 247, 247);
}

.appBody {
    display: flex;
    flex-direction: row-reverse;
}

.appWrapper {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 50px auto;
    background: rgb(126, 126, 126);
    color: rgb(0, 0, 0);
}

.titleWrapper {
    text-align: center;
    padding: 10px;
}

.titleWrapper span{
    font: 40px bold;
}



